@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 6px;
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 1.25rem 5rem;
}
.card {
  border-radius: 1.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
h2 {
  font-size: 2.8rem;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 2.5rem;
}

.textContainer {
  padding: 0rem 2rem;
  text-align: left;
}
/* HEADER */

header {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
}

header h4 {
  font-size: 4rem;
  justify-content: flex-start;
}

.burger {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1.8rem;
  height: 1.66rem;
  cursor: pointer;
}

.burger-line {
  width: 100%;
  height: 0.18rem;
  background-color: #000;
  margin-bottom: 0.25rem;
}
.header-nav {
  display: none;
}

/* HOME */

img {
  width: 100%;
  border-radius: 1.2rem;
}
.home p {
  font-size: 2.5rem;
}
.home h1 {
  font-size: 3rem;
}
.unhappy {
  color: #2d9cdb;
}
#story {
  font-size: 2.2rem;
}

/* CONTACT US */
.contact {
  height: 12rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.contact-you {
  font-size: 2rem;
  color: gray;
}

/* SERVICES */

.services h1 {
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 600;
}
.service-container {
  display: block;
  padding: 0rem 2rem;
  text-align: left;
}
.services p {
  font-size: 1.8rem;
}

.services button {
  background-color: #ccc;
  border-radius: 1.5rem;
  width: 15rem;
  color: gray;
  font-size: 2rem;
  padding: 1rem 0rem;
  border: none;
}
.services #blue {
  background-color: #007bff;
  color: white;
}
.icon {
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
  font-size: 5rem;
  padding: 2rem;
  color: white;
}
.ui {
  background-color: #007bff;
}

.individual-services {
  margin: 7rem 0rem;
}
.individual-services p {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
}
.individual-services h1 {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  padding: 0;
}
.fe {
  background-color: green;
}
.be {
  background-color: red;
}

/* BUSINESS */

.business {
  margin-top: 5rem;
}
.business h1 {
  font-size: 3rem;
}

.business p {
  font-size: 1.8rem;
  color: grey;
}
.business h2 {
  font-size: 2.8rem;
}
.business img {
  width: 100%;
}
.type {
  margin: 7rem 0;
}
.see {
  color: #007bff;
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
}
.see h2 {
  font-weight: 500;
}

/* TEAM */

.team {
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 12rem;
}
.meet-team-image {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.image-1 {
  width: 40%;
}

.images-2 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.person1 {
  justify-self: center;
  height: 50%;
  margin-bottom: 5rem;
}
.person2 {
  margin-bottom: 5rem;
  height: 50%;
  margin-bottom: 5rem;
}
.person3 {
  margin-top: 10rem;
  height: auto;
}

.team h2 {
  color: red;
}

/* QUOTE */
.quote {
  margin-bottom: 10rem;
}
.quote-author {
  display: flex;
}
.quote-author p {
  color: gray;
}
.quote h1 {
  margin-bottom: 5rem;
}

.person4 {
  width: 17rem;
  height: auto;
  margin-right: 3rem;
}
.authorname {
  width: 60%;
}

/* FOOTER */

footer {
  background-color: #100e1d;
  color: white;
  padding: 4rem 6rem;
  margin: 0;
}
.navigation {
  list-style: none;
  padding: 0;
  margin-bottom: 12rem;
}

.navigation li {
  font-size: 20px;
  margin-bottom: 8px;
  /* Have to hardcode because it is same for all the layouts in the given design */
}

.socials {
  width: 100%;
  margin-bottom: 12rem;
}
.socials h3 {
  color: white;
  font-size: 23px;
  font-weight: 600;
  margin: 5px 0;
  /* Have to hardcode because it is same for all the layouts in the given design */
}

.socials a {
  font-style: none;
}

.social-image {
  width: 7%;
  margin: 5px 8px;
}
.query {
  width: 100%;
  gap: 0;
}
.query p {
  color: #ccc;
}
.input-box {
  width: 100%;
  margin-bottom: 15px;
}
.input-box input {
  width: 28rem;
  height: 6rem;
  padding: 0px 1.5rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  border: 0.1rem solid #ccc;
  background-color: #f2f2f2;
  border-style: none;
}
#join {
  width: 12rem;
  height: 4.8rem;
  padding: 0;
  border-radius: 1.5rem;
  background-color: #2d9cdb;
  color: white;
  font-size: 2rem;
  margin-left: -13rem;
  z-index: 100;
  border-style: none;
}
@media screen and (min-width: 540px) and (max-width: 1024px) {
  * {
    font-size: 9px;
  }
}

@media screen and (min-width: 1024px) {
  * {
    font-size: 11px;
  }

  body {
    width: 100%;
  }

  .burger {
    display: none;
  }
  .header-nav {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-top: 6rem;
  }
  .header-nav li {
    font-size: 2.5rem;
  }
  .textContainer {
    padding: 0rem 2rem;
    text-align: left;
    max-width: 40%;
  }
  .service-container {
    display: flex;
  }
  .individual-services {
    width: 31%;
    margin-right: 2.5rem;
  }
  .business {
    position: relative;
  }
  .business-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }
  .type {
    width: 40%;
    margin: 1rem;
  }
  .img1 {
    padding-top: 10rem;
  }
  .img3 {
    padding-top: 15rem;
  }
  .see {
    position: absolute;
    right: 0.4rem;
    top: 90%;
  }
  .team {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 8rem;
  }
  .quote {
    max-width: 80%;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  .navigation,
  .socials,
  .query {
    flex: 1;
  }
  .query p {
    color: white;
  }
}
